label {
  font-weight: 500;
  color: var(--bs-heading-color);
}

.sub-label {
  color: var(--color-text);
  font-weight: 700;
  font-size: 0.8em;
}

.emoji {
  font-size: 1.2em;
  color: white;
}

p {
  font-size: 0.8em;
  margin-bottom: 0;
}

.fs-legend {
  font-size: 0.8em;
}

.openivity-form-range::-webkit-slider-thumb {
  background-color: var(--color-title) !important;
  border: 2px solid var(--color-title) !important;
}

.openivity-form-range::-moz-range-thumb {
  background-color: var(--color-title) !important;
  border: 2px solid var(--color-title) !important;
}

.openivity-form-range::-ms-thumb {
  background-color: var(--color-title) !important;
  border: 2px solid var(--color-title) !important;
}
